<!-- Specials Pop-down -->

<!-- Carousel -->

      <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
        </div>
        <div class="carousel-item carousel-item car-item-one white-text" href="#one!">
          <h1>We are your village</h1>
          <h2 class="white-text mission-one">Prenatal Yoga, Mommy & Me Yoga, Toddler Yoga, Childbirth Education, Doulas, Massage, Acupuncture, Chiropractic, Lactation Support and much more.</h2>
        </div>
        <div class="carousel-item car-item-two white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item car-item-three white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item car-item-four white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>

<!-- Offerings -->
      <div class="offeringCont">
        <a href="massage.html" class="offering massage">
          <div class="imgDiv">
            <h2>MASSAGE</h2>
            <img class="optImg" src="pics/wellness.jpg"/>
          </div>
        </a>
        <a href="childbirthed.html" class="offering childbirthED">
          <div class="imgDiv">
            <h2>CHILDBIRTH ED</h2>
            <img class="optImg" src="pics/foot.jpg"/>
          </div>
        </a>
        <a href="shedule.html" class="offering schedule">
          <div class="imgDiv">
            <h2>SCHEDULE</h2>
            <img class="optImg" src="pics/plank.jpg"/>
          </div>
        </a>
        <a href="doula.html" class="offering doula">
          <div class="imgDiv">
            <h2>DOULA</h2>
            <img class="optImg" src="pics/pregnant.jpg"/>
          </div>
        </a>
      </div>

<!-- Pretty spacer background -->
      <div class="spacer">
        <div class="bkgdOne">
        </div>
      </div>

<!-- Specials -->
<!-- {{# each sections }}
      <div class="bbSection" id="specialsID">
        <div class="sectionRight">
          <h1>{{ this.heading }}</h1>
          <h2>{{ this.subHeading }}</h2>
          <p>{{ this.message }}</p>
        </div>
        <div class="sectionLeft"></div>
      </div>
      <div class="spacer">
        <div class="bkgdOne"></div>
      </div>
      {{/each }} -->

<div class="bbclasses">
  {{#kidsClassesTitle}}
    <div class="modalDiv">
      <h1>{{this.heading}}</h1>
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#scheduleModal">Book A Class</a>
      <!-- Modal Structure -->
      <div id="scheduleModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Schedule a Class</h4>
          <p>To schedule a class, please call Belly Bliss at 303-399-1191</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <a class="waves-effect waves-light btn modal-trigger" href="https://clients.mindbodyonline.com/classic/mainclass?studioid=4440&tg=&vt=&lvl=&stype=-7&view=week&trn=0&page=&catid=&prodid=&date=11%2f18%2f2017&classid=0&prodGroupId=&sSU=&optForwardingLink=&qParam=&justloggedin=&nLgIn=&pMode=0" target="_blank"><span class="modalText">View Schedule</span></a>
    </div>
  {{/kidsClassesTitle}}
  <div class="classesRow">
    {{# each kidsClasses }}
    <div class="card">
      <div class="card-image waves-block waves-light">
        <img class="activator" src={{this.picture}}>
      </div>
      <div class="card-content {{this.location-border}}">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right arrow">arrow_drop_down</i>{{this.title}}</span>
        <p><a href="#">Schedule</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ this.title }}</span>
        <p>{{this.description}}</p>
      </div>
    </div>
    {{/ each }}
  </div>
</div>

<div class="bbclasses">
  {{#fitnessClassesTitle}}
    <div class="modalDiv">
      <h1>{{this.heading}}</h1>
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#scheduleModal">Book A Class</a>
      <!-- Modal Structure -->
      <div id="scheduleModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Schedule a Class</h4>
          <p>To schedule a class, please call Belly Bliss at 303-399-1191</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <a class="waves-effect waves-light btn modal-trigger" href="https://clients.mindbodyonline.com/classic/mainclass?studioid=4440&tg=&vt=&lvl=&stype=-7&view=week&trn=0&page=&catid=&prodid=&date=11%2f18%2f2017&classid=0&prodGroupId=&sSU=&optForwardingLink=&qParam=&justloggedin=&nLgIn=&pMode=0" target="_blank">View Schedule</a>
    </div>
  {{/fitnessClassesTitle}}
  <div class="classesRow">
    {{# each fitnessClasses }}
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{this.picture}}>
        </div>
        <div class="card-content  {{this.location-border}}">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right arrow">arrow_drop_down</i>{{this.title}}</span>
          <p><a href="#">Schedule</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ this.title }}</span>
          <p>{{this.description}}</p>
        </div>
      </div>
    {{/ each }}
  </div>
</div>

<div class="bbclasses">
  {{#workshopsSupportTitle}}
    <div class="modalDiv">
      <h1>{{this.heading}}</h1>
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#scheduleModal">Book A Class</a>
      <!-- Modal Structure -->
      <div id="scheduleModal" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Schedule a Class</h4>
          <p>To schedule a class, please call Belly Bliss at 303-399-1191</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      <a class="waves-effect waves-light btn modal-trigger" href="https://clients.mindbodyonline.com/classic/mainclass?studioid=4440&tg=&vt=&lvl=&stype=-7&view=week&trn=0&page=&catid=&prodid=&date=11%2f18%2f2017&classid=0&prodGroupId=&sSU=&optForwardingLink=&qParam=&justloggedin=&nLgIn=&pMode=0" target="_blank"><span class="modalText">View Schedule</span></a>
    </div>
  {{/workshopsSupportTitle}}
  <div class="classesRow">
    {{# each workshopsSupport }}
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{this.picture}}>
        </div>
        <div class="card-content  {{this.location-border}}">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right arrow">arrow_drop_down</i>{{this.title}}</span>
          <p><a href="#">Schedule</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{ this.title }}</span>
          <p>{{this.description}}</p>
        </div>
      </div>
    {{/ each }}
  </div>
</div>
      <!-- <div class="bbSection bbWorkshops" id="workshopsID">
        <h1>Workshops</h1>
        <h2>Sign Language<i class="material-icons">favorite</i>CPR<i class="material-icons">favorite</i>Childbirth<i class="material-icons">favorite</i>Newborn Care</h2>
        <p>In addition to Childbirth Education, Belly Bliss offers a variety of workshops.</p>
        <a class="waves-effect waves-light btn-large" href="pages/workshops.html">Learn More</a>
      </div>
      <div class="spacer">
        <div class="bkgdOne">
        </div>
      </div>
      <div class="bbSection bbBlissKids" id="blissKidsID">
        <h1>Blissful Kids</h1>
        <h2>Yoga<i class="material-icons">favorite</i>Art<i class="material-icons">favorite</i>Music</h2>
        <p>In addition to Childbirth Education, Belly Bliss offers a variety of workshops.</p>
        <a class="waves-effect waves-light btn-large" href="pages/blissfull-kids.html">Learn More</a>
      </div>
      <div class="bbSection"></div> -->
